<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2>PALANTIR Final Event</h2>
        <div id="popup-content-scroll" class="popup-content-scroll">
            <p>Join us for the final PALANTIR event and discover the latest research and pilots aimed at safeguarding SMEs/MEs from cybercrime. Don't miss it out!</p>
            <p>Click <a href="https://events.teams.microsoft.com/event/75b7585e-2364-49b9-824d-fee5a307b763@f65c3fce-9f0f-484f-ba0e-80c64d5012cd">here</a> to register to the event.</p>
            <p>Download <a href="https://www.palantir-project.eu/documents/other-documents/PALANTIR_Final_Event_Agenda.pdf">here</a> the event agenda.</p>
            <img src="{{ 'final-event-banner' | append: '.JPG' | prepend: '/img/' | prepend: site.baseurl }}" alt="GA" class="responsive center" style="max-width: 80%">
        </div>
    </div>
</div>
